<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2008 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.imap2"
    android:versionCode="000000"
    android:versionName="0.1"
     >

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.VIBRATE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"/>

    <!-- Only required if a store implements push mail and needs to keep network open -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK"/>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission
        android:name="com.android.email.permission.READ_ATTACHMENT"/>
    <uses-permission
        android:name="com.android.email.permission.ACCESS_PROVIDER"/>

    <application
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:name="Imap2"
        android:theme="@android:style/Theme.Holo.Light"
        >

        <receiver
            android:name="com.android.emailsync.EmailSyncAlarmReceiver"/>
        <receiver
            android:name="com.android.emailsync.MailboxAlarmReceiver"/>

        <receiver
            android:name=".Imap2BroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_OK" />
                <action
                    android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BroadcastProcessorService" />

        <!--Required stanza to register the EAS EmailSyncAdapterService with SyncManager -->
        <service
            android:name=".EmailSyncAdapterService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/syncadapter_email" />
        </service>

        <service
            android:name="com.android.imap2.Imap2SyncManager"
            android:enabled="true"
            android:permission="com.android.email.permission.ACCESS_PROVIDER"
            >
            <intent-filter>
                <action
                    android:name="com.android.email.IMAP2_INTENT" />
            </intent-filter>
        </service>

    </application>
</manifest>
